
:root{ 
    /* Backgrounds Colors */
    --bg-white: #ffffff;
    --bg_light: #f6f6f6;
    --bg-blue-light: #5865f2;
    --bg-blue-dark: #404eed;
    --bg-dark: #23272a;

    /* Text Colors */
    --text-white: #ffffff;
    --text-skyblue: #00b0f4;
    --text-blue: #5865f2;
    --text-purple: #551a8b;
    --text-gray: #23272a;
    --text-black: #000000;

}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ecf0f3;
}

.header{
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(203, 203, 203);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ecf0f3;
    z-index: 2000;

}
.nav{
    width: 100%;
    max-width: 1280px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 0 auto;
    position: relative;
    
}

.nav__right{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.nav__right img{
    cursor: pointer;
}

.cotizar{
    width: 120px;
    color: #ff014f;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 9px 12px;
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
    border-radius: 6px;
    display: none;
    text-align: center;
    transition: background 0.2s;
}
.cotizar:hover{
    color: var(--text-white);
    background-color: #ff1159;
}






/* menu responsive */
.nav__list{
    width: 100%;
    display: none;
    
}
.list{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
}
.list__item{
    text-align: center;

}
.nav__link{
    color: var(--text-gray);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    transition: 0.2s;
}
.nav__link:hover{
    color: #ff014f;
    
}




/* ------main--------- */


.main_info{
    margin-bottom: 80px;
    max-width: 500px;
    padding-right: 20px;
}
/* ------------------------ */

.wraper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.estatico{
    color: #ff014f;
}

.dinamico{
    
    list-style: none;
    font-size: 2.6rem;
    font-weight: 600;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    margin-left: 6px
}
.dinamico .dinamico_span{
    color: #1e2125;
}

.dinamico li{
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
    color: #1e2125;
}

@keyframes slide {
    100%{top: -415%;}
}
.dinamico li span {
    position: relative;
    
}
.dinamico li span::after{
    content: "";
    position: absolute;
    left: 6px;
    height: 42px;
    width: 100%;
    background: #ecf0f3;
    border-left: 2px solid #1e2125;
    animation: typing 2s steps(10) infinite;

}

@keyframes typing {
    40%,60%{
        left:calc(100% + 30px)
    }
    100%{
        left: 0;
    }
}
/* ---------------------- */


.main{
    width: 100%;
    height: 100%;
    max-width: 1280px;
    padding: 0 24px;
    margin: 86px auto 20px;
}

.bienvenidos{
    margin-top: 20px;
    letter-spacing: 2px;
    color: #3c3e41;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.titulo{
    color: #1e2125;
    font-size: 3.2rem;
    margin-bottom: 22px;
    font-weight: 600;
}
.titulo span{
    color: #ff014f;
    font-size: 3.2rem;
}

.subtitulo{
    font-size: 2.6rem;
}

.subtitulo span{
    font-size: 2.6rem;
    color: #ff014f;
}
.descripcion{
    color: #3c3e41;
    font-size: 1.6rem;
    margin-bottom: 40px;
}




/* -----contenedores redes sociales------- */

.titulo_redes{
    color: #1e2125;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.contenedor_cajas-redes{
    display: flex;
    gap: 14px;
    margin-bottom: 20px;
}

.contenedor-imagen{
    display: block;
    width: 60px;
    height: 60px;
    background-color: #edf1f3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
    transition: 0.2s;
}

.contenedor-imagen:hover{
    background-color: #fd185de4;

}
.contenedor-imagen-apps{
    display: block;
    width: 60px;
    height: 60px;
    background-color: #edf1f3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
}



/* ----------------contenedor_mi_foto--------------------- */

.contenedor_mi_foto{
    
    width: 80%;
    max-width: 400px;
    min-width: 320px;
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
    margin: 18px auto;
    
    border-radius: 8px;position: relative;
}

.contenedor_mi_foto img{
    /* position: absolute; */
    width: 100%;
    height: 520px;
    object-fit: cover;
    bottom: 0;
    left: 0;
}


/* ------------aside__menu__mobil----------- */

.aside__menu__mobil{
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 380px;
    min-width: 320px;
    background-color: #edf1f3;
    padding: 25px 34px;
    z-index: 1000;
}

.aside__menu_container{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #c8cacd;
}
.close__menu__mobil{
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
}
.close__menu__mobil:active{
    
    background-color: #e5e2e2d1;
}

.separador_menu_mobil{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lista__menu__mobil{
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
.lista__menu__mobil li{
    margin-bottom: 24px;
}

.menu__mobil__link{
    color: #3c3e41;
    font-size: 1.4rem;
    text-decoration: none;
    transition: 0.2s;
}
.menu__mobil__link:hover{
    color: #ff014f;
}

/* .menu__redes{
    margin-top: 220px;
} */


/* ------------------------------ */


.inactive{
    display: none;
}





@media (min-width: 580px){
    .main{
        text-align: center;
    }
    .main_info{
        margin: 0 auto;
    }
    .contenedor_cajas-redes{
        justify-content: center;
    }
    .wraper{
        justify-content: center;
        text-align: center;
    }
}

@media (min-width: 768px){
    .wraper{
        justify-content: start;
        text-align: center;
    }
    .main{
        text-align: start;
    }
    .main_info{
        margin: 0;
    }
    .contenedor_cajas-redes{
        justify-content: start;
    }
    .nav{
        padding: 0 40px;
    }
    .main{
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }
    .main_info{
        margin-bottom: 80px;
        max-width: 700px;
    
    }
    .contenedor_mi_foto{
        margin: 0;
        margin-top: 90px;
        width: 100%;
        height: 500px;
        max-width: 460px;
        box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
        border-radius: 8px;position: relative;
    }
    
    .contenedor_mi_foto img{
        position: absolute;
        width: 100%;
        height: 574px;
        object-fit: cover;
        bottom: 0;
        left: 0;
    }
}

@media (min-width: 1024px){
    .nav__list{
        width: 100%;
        display: block;
        
    }
    .nav__right img{
        display: none;
    }
    .cotizar{
        display: block;
    }
}





















/* 
.footer{
    padding: 80px 0 0;
    background-color: var(--bg-dark);
}

.footer-1{
    padding: 0 24px;
    margin-bottom: 56px;
}
.footer-1 h1{
    color: var(--text-blue);
    font-size: 3.4rem;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 24px;
}
.footer-1 p{
    color: var(--text-white);
    font-size: 1.4rem;
    margin-bottom: 24px;
}
.redes{
    display: flex;
    align-items: center;
}
.margin-left{
    margin-left: 20px;
}

.footer-2{
    width: 100%;
    background-color: var(--bg-dark);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 24px;
    row-gap: 40px;
    
}

.footer h5{
    color: var(--text-blue);
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.footer a{
    color: var(--text-white);
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    margin-top: 8px;
}
.hr {
    width: 100%;
    padding: 32px 24px;
    margin: 0;
    background-color: var(--bg-dark);
}
.hr div{
    width: 100%;
    height: 0.2rem;
    background-color: var(--bg-blue-light);
}

